/* selector GENERAL*/
@font-face {
    font-family: "Pacifico";
    src: url("fonts/Pacifico.ttf");
    
}

*{
    margin:0;
    padding:0;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}
h1, h3{
    color: #072b5a;
    font-family: Pacifico;
}
h4{
    color:#444;
}
h1{
    font-size:35px;    
}
h2{    
    font-size:55px;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}
h3{
    font-size:30px;    
}
h4{
    font-size: 24px;    
}
p{
    line-height:20px;
    color:#777;
}
.orange{
    color:#ff7a00;
}
.wrapper
{
    width: 940px;
    margin:0 auto;
    padding:0 10px;
}



ul{
    list-style:none;    
}
a{    
    text-decoration:none;
    color: #072b5a;
}
small{
    font-size: 13px;
    font-style:italic;
}
/*HEADER*/
header{   
    height:100px;    
}
header h1{
    float:left;
    margin-top:20px;
}
header nav{
    float: right;
    margin-top:50px;
}
header nav ul li{
    float: left;
    display: inline-block;    
}
header nav ul li a{
    text-transform:uppercase; 
    font-weight: bold;
    margin-right: 20px;   
}
header nav ul li a:hover{
    color:#ff7a00;  
}
/* MAIN IMAGE*/
#main-image{
    background: url('images/maldives.jpg') center;    
    height: 580px;
}
#main-image h2{
    text-align:center;
    font-weight: normal;
    text-transform: uppercase;
    padding:150px 0 40px 0;
    margin-bottom:20px;
}
.button{
    background-color:#072b5a;
    display: block;
    width: 20%;
    color:#fff;
    font-size:20px;
    margin:0 auto;
    text-align: center;
    line-height:50px;
    border-radius: 5px;
}
.button:hover{
    background-color:#ff7a00;
}

/*steps*/
#steps ul{
    display: flex;
    margin: 80px 0;
}
#steps ul li{
    width: 300px;
    padding-top:140px;
    text-align: center;
    margin-right: 10px;   
}
#steps h4{
    text-transform: uppercase;
    margin-bottom:20px;
}
#steps p{
    margin-bottom:20px;
}
#step-1{
    background:url(images/steps-icon-1.png) no-repeat top center;
}
#step-2{
    background:url(images/steps-icon-2.png) no-repeat top center;
}
#step-3{
    background:url(images/steps-icon-3.png) no-repeat top center;
}

/*possibilities*/
#possibilities{
    background-color:#efefef; 
    padding:60px 0;  

}
#possibilities article{
    width:460px;
    height:270px;
    border-radius: 10px;    
}
#possibilities #flexe{
    display: flex;    
}
#possibilities article:first-child{
    margin-right:20px;    
}
#flexe article {
    box-shadow: 3px 3px 3px 0.5px rgba(0, 0, 0, .2);
}
.overlay{
    background:rgba(255, 255, 255, 0.95);
    width:190px;
    padding: 20px;
    height: 100%;
    border-radius:10px 0 0 10px;
    text-align: center;
    box-sizing:border-box;
}
article h4{
    border-bottom:1px solid #ddd;
    padding-bottom:20px;
    text-transform:uppercase;
    text-align: center;
    margin-bottom:20px;
}
#possibilities p{
      text-align: center;
      margin-bottom:20px;  
}
.button-2{
    color: #fff;
    background-color:#072b5a;
    text-align: center;
    padding:6px 20px;
    border-radius:3px;    
}
.button-2:hover{    
    background-color:#02b8dd;    
}

/*  contact */
#contact{
    padding:60px 0px;
    text-align: center;
}
#contact h3{
    width:400px;
    
    border-bottom: 1px solid #777;;
    margin: 0 auto 20px auto;
    padding-bottom:20px; 
}
form{
    margin:60px 0 20px 0;
}
label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    color:#777;
}
input[type="text"]{
    padding:10px;
    font-size:20px;
    margin-right: 20px;
    border:2px solid #ddd;
    border-radius:3px;
}
.button-3{
    color:#fff;
    font-size:20px;
    font-weight: bold;
    padding: 11px;
    background-color:#072b5a;
    border-style:none;
    border-radius: 3px;
}
.button-3:hover{    
    background-color:#444;    
}

/* footer*/
footer{    
    height:260px;
    background-color:#072b5a;
    text-align: center;   
}
footer h1{
    color:white;
    padding-top: 80px;
}
footer p {
    color: white;
}
.Copyright{
    font-weight: bold;
    padding: 30px;
    color:#777;
}

.menu-burger{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
    display: none;

}




